body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    background-image: url("grad.jpg") ;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.clock-container {
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
}

#clock {
    color: white;
    font-size: 48px;
    text-align: center;
}
