*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.clock-container {
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
}

.clock {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: darkblue;
}
